.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 27px
}
input[type=submit]{
    width: 90%;
    height: 28px;
    background-color: darkslateblue;
}
input[type=submit]:hover{
    cursor: pointer;
    background-color: green;
}